/* Partners.css */
.partners-section {
  padding: 60px 0;
  text-align: center;
  direction: rtl;
  background-image: url('../assets/img/bg1.jpg');
  background-position: center;
  position: relative;
}
.partners-section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 0;
}


.section-heading h2 {
  font-size: 36px;
  color: #2c7db1;
  position: relative;
  padding-bottom: 15px;
  display: inline-block;
  font-weight: 700;
}

.section-heading h2::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 3px;
  background-color: #2c7db1;
}

.partners-grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 40px 0;
}

.partner-card {
  flex: 0 1 160px;
  max-width: 200px;
  background-color: rgb(255, 255, 255) !important;
}

.logo-container {
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s ease;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.logo-container:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Responsive Design */
@media (max-width: 768px) {
  .partners-grid {
    gap: 20px;
  }
  
  .partner-card {
    flex-basis: 120px;
  }
  
  .logo-container {
    height: 100px;
  }
}

@media (max-width: 480px) {
  .section-heading h2 {
    font-size: 28px;
  }
  
  .partner-card {
    flex-basis: 100px;
  }
}